@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white; 
    margin: 0;
    overflow-x: hidden;
}

.topnav {
    display: flex;
    justify-content: space-evenly;
    padding: 2vh 0;
}

.title {
    display: flex;
    flex-direction: row;
    margin-right: 15vw;
}

.titleimg {
    width: 7vw;
}

h1, h2 {
    align-self: center;
    margin: 0;
}

.lhvr {
    text-decoration: none;
    color: white;
    padding: 1vw;
    font-size: 20px;
    text-transform: uppercase;
    transition: all ease-in-out 100ms;
}

.lhvr:hover {
    color: rgb(230, 93, 93);
    transition: all ease-in-out 100ms;
}

.presale {
    color: white;
    text-decoration: none;
    background-color: rgb(161, 15, 15);
    opacity: 1;
    padding: 1vw 2vw;
    margin-left: 1vw;
    border: 2px solid white;
    border-radius: 50px; 
    transition: all ease-in-out 100ms;
    margin-left: 15vw;
    height: 100%;
}

.presale:hover {    
    color: white;
    border: 2px solid rgb(230, 93, 93);
    background-color: rgb(230, 93, 93);
    transition: all ease-in-out 100ms;
}

.bg {
    background: url('images/websitebg.png');
    background-size: contain;
}

.main {
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.mainimg img {
    border-radius: 20px;
    margin-left: 5vw;
    filter: drop-shadow(0 0 0.75rem crimson);
    transition: all ease-in-out 100ms;
    max-width: 90%;
}   

.mainimg img:hover {
    filter: drop-shadow(0 0 1.5rem crimson);
    transition: all ease-in-out 100ms;
}

.links {
    display: flex;
    align-items: start;
}

.titletxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 40px;
}

.desc {
    font-size: 20px;
}

.presale2 {
    color: white;
    text-decoration: none;
    padding: 0.5vw 1vw;
    margin-top: 1vh;
    margin-left: 1vw;
    border: 2px solid white;
    transition: all ease-in-out 100ms;
    font-size: 15px;
}

.presale2:hover {    
    color: white;
    border: 2px solid rgb(230, 93, 93);
    background-color: rgb(230, 93, 93);
    transition: all ease-in-out 100ms;
}

.backstory {
    display: flex;
    flex-direction: row;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 100%);
    justify-content: space-between;
}

.bstext {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}

.bstext h1 {
    padding: 1vh 10vw 1vh 1vw; 
    font-size: 60px;
    align-self: unset;
    text-align: right;
}

.bstext h2 {
    padding: 1vh 10vw 1vh 1vw;
    text-align: right;
    font-size: 26px;
}

.bsimg {
    margin: 5vw 10vw;
    width: 30vw;
    height: 30vw;
    background-image: url('images/showSpug.png');
    background-size: cover;
    align-self: center;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem crimson);
    transition: all ease-in-out 100ms;
}

.bsimg:hover {
    filter: drop-shadow(0 0 1.5rem crimson);
    transition: all ease-in-out 100ms;
}

.playtoearn {
    display: flex;
    flex-direction: column;
    background-image: url('images/pugsbg.png');    
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;    
    padding-bottom: 10vh;
}

.playtoearn h1 {
    margin-top: 10vh;
    font-size: 60px;
}

.phases {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1vw;
}

.neu1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    height: 20vw;
    margin: 2vw;
    border-radius: 20px;
    text-align: center;
    -webkit-text-stroke: #080808 0.5px;
    filter: brightness(50%), drop-shadow(0 0 0.75rem crimson);
    transition: all ease-in-out 100ms;
}

.neu1:hover {
    filter: drop-shadow(0 0 1rem crimson);
    transition: all ease-in-out 100ms;
}

.neu1 h2 {
    font-size: 40px;
}

.neu1 p {
    font-size: 20px;
}

.ranks {
    display: flex;
    flex-direction: column;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 100%);
    padding: 10vh 0 20vh 0;
}

.t_ranks {
    margin-bottom: 5vh;
}

.ranks-container {
    display: flex;
    justify-content: space-evenly;
}

.tokendistribution {
    display: flex;
    flex-direction: column;
    background: url('images/websitebg.png');
    background-size: contain;
    align-items: center;
    padding: 10vh 0;
}

.tokensplit img {
    display: flex;
    align-self: center;
}

.ranks h1, .tokendistribution h1, .roadmap h1 {
    font-size: 60px;
}

.pug-ranks {
    display: flex;   
    flex-direction: column;
    max-width: 100%;
    filter: drop-shadow(0 0 0.3rem rgb(220, 170, 20));
    margin-left: 20vw;
}

.weapons {
    display: flex;   
    flex-direction: column;
    max-width: 100%;
    filter: drop-shadow(0 0 0.3rem rgb(220, 170, 20));
    margin-right: 20vw;
}

.prl {
    display: flex;
    flex-direction: column;
    padding: 2vw;    
    border-right: none;
    background-color: #080808;
    width: 16vw;
}

.prl h2 { align-self: unset ;}

#primg, #primg2 {
    width: 20vw;
}

.prlbtns {
    display: flex;
    justify-content: space-between;
}

.lebtn {
    outline: none;
    border: none;
    border-radius: 50px;
    width: 3vw;
    height: 3vw;
    background-color: rgba(0,0,0,0);
    border: white 2px solid;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white; 
    transition: all ease-in-out 100ms;
}

.lebtn:hover {
    cursor: pointer;
}

.lebtn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 50px;
    width: 3vw;
    height: 3vw;
    background-color: rgba(0,0,0,0);
    border: white 2px solid;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white; 
    transition: all ease-in-out 100ms;
    margin: 0 .5vw;
}

.lebtn2:hover {
    cursor: pointer;
    background-color: white;
}

.srank1:hover {
    border-color: #ffc71f;
    background-color: #ffc71f;
    color: #080808;
    transition: all ease-in-out 100ms;
}

.arank1:hover {
    border-color: #1f5fff;
    background-color: #1f5fff;
    color: #080808;
    transition: all ease-in-out 100ms;
}

.brank1:hover {
    border-color: #1fff79;
    background-color: #1fff79;
    color: #080808;
    transition: all ease-in-out 100ms;
}

.crank1:hover {
    border-color: #ff501f;
    background-color: #ff501f;
    color: #080808;
    transition: all ease-in-out 100ms;
}

.drank1:hover {
    border-color: #6c6c6c;
    background-color: #6c6c6c;
    color: #080808;
    transition: all ease-in-out 100ms;
}

#chart {
    margin-left: 2vw;
    max-width: 65%;
}

footer {
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 5px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 5vh 0;
}

.footer-content h3 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1rem;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials button {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 2rem;
    transition: all ease-in-out 100ms;
}

.socials a:hover i {
    color: black;
    transition: all ease-in-out 100ms;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 5px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
}

.mobile-menu {
    display: none;
}

.titletxt-mobile {
    display: none;
}

ul {
    padding: 0;
}

.footer-content h3 {
    margin-top: 0;
}

.linkemail {
    color: white;
}

@media screen and (max-width: 1300px) {

    .main {
        height: unset;
    }

    .phases {
        flex-direction: column;
        align-items: center;
    }

    .neu1 {
        width: 50vw;
        height: 50vw;
    }

    .neu1 h2 {
        font-size: 20px;
    }

    .neu1 p {
        font-size: 15px;
    }

    .ranks-container {
        flex-direction: column;
        align-items: center;
    }

    .pug-ranks {
        margin: 0;
    }

    .weapons {
        margin: 0;
    }

    .presale {
        display: none;
    }

    .links {
        display: none;
    }

    .mobile-menu {
        display: flex;
        font-size: 30px;
    }

    .topnav {
        justify-content: center;
        padding: 5vh;
    }

    .titletxt {
        display: none;
    }

    .titletxt-mobile {
        display: flex;
        flex-direction: column;
    }

    .titletxt-mobile h1 {
        margin: 5vw 0 2vh 0;
    }

    .main {
        flex-direction: column;
    }

    .links-mobile {
        text-align: center;
        margin-bottom: 10vh;
    }

    .desc {
        display: flex;
        margin-bottom: 4vh;
        font-size: 14px;
    }

    .presale2 {
        padding: 1.5vw;
    }

    #primg, #primg2 {
        width: 60vw;
    }

    .prl {
        width: 56vw;
        text-align: center;
    }

    .weapons {
        margin: 10vh 0 0 0;
    }

    .lebtn {
        width: 10vw;
        height: 10vw;
    }

    .lebtn2 {
        width: 15vw;
        height: 15vw;
    }

    .tokendistribution h1 {
        font-size: 30px;
    }

    .tokendistribution h2 {
        font-size: 14px;
        text-align: center;
        padding: 5vw;
    }

    .backstory {
        flex-direction: column;
        padding: 10vh 0;
    }

    .bstext {
        width: 100%;
    }

    .backstory h1 {
        font-size: 30px;
        padding: 2vh 0;
        text-align: center;
    }

    .backstory h2 {
        font-size: 15px;
        text-align: center;
        padding: 0 2vw;
    }

    .footer-content h2 {
        font-size: 15px;
    }

    .title {
        display: none;
    }

    .mobile-menu img {
        width: 20vw;
    }
}
