@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white; 
    margin: 0;
}

.topnav {
    display: flex;
    justify-content: space-evenly;
    padding: 2vh 0;
}

.title {
    display: flex;
    flex-direction: row;
    margin-right: 15vw;
}

h1, h2 {
    align-self: center;
    margin: 0;
}

.lhvr {
    text-decoration: none;
    color: white;
    padding: 1vw;
    font-size: 20px;
    text-transform: uppercase;
    transition: all ease-in-out 100ms;
}

.lhvr:hover {
    color: rgb(230, 93, 93);
    transition: all ease-in-out 100ms;
}

.presale {
    color: white;
    text-decoration: none;
    background-color: rgb(161, 15, 15);
    opacity: 1;
    padding: 1vw 2vw;
    margin-left: 1vw;
    border: 2px solid white;
    border-radius: 50px; 
    transition: all ease-in-out 100ms;
    margin-left: 15vw;
}

.presale:hover {    
    color: white;
    border: 2px solid rgb(230, 93, 93);
    background-color: rgb(230, 93, 93);
    transition: all ease-in-out 100ms;
}

.bg {
    background: url('https://media.discordapp.net/attachments/912012302830694410/914647542036312084/Ilustracion_sin_titulo.png?width=701&height=701');
}

.main {
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.mainimg img {
    border-radius: 20px;
    margin-left: 5vw;
    filter: drop-shadow(0 0 0.75rem crimson);
}

.links {
    display: flex;
    align-items: start;
}

.titletxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 40px;
}

.desc {
    font-size: 20px;
}

.presale2 {
    color: white;
    text-decoration: none;
    padding: 0.5vw 1vw;
    margin-top: 1vh;
    margin-left: 1vw;
    border: 2px solid white;
    transition: all ease-in-out 100ms;
    font-size: 15px;
}

.presale2:hover {    
    color: white;
    border: 2px solid rgb(230, 93, 93);
    background-color: rgb(230, 93, 93);
    transition: all ease-in-out 100ms;
}

.backstory {
    display: flex;
    flex-direction: column;
    background-color: #080808;
}

.bstext {
    display: flex;
    flex-direction: column;
}

.bstext h1 {
    padding-top: 5vh;
    font-size: 60px;
}

.bstext h2 {
    padding: 5vh 9.5vw;
    text-align: justify;
}

.nfts1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5vh;
}

.nfts1 img {
    width: 20vw;
    border-radius: 10px;
    filter: brightness(50%);
    transition: all ease-in-out 100ms;
    box-shadow:  10px 10px 20px #171717,
             -10px -10px 20px #2b2b2b;
}

.nfts1 img:hover {
    filter: brightness(100%);
    transition: all ease-in-out 100ms;
    cursor: pointer;
}

.playtoearn {
    display: flex;
    flex-direction: column;
    background: black;
}

.playtoearn h1 {
    font-size: 60px;
}

.phases {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1vw;
}

.neu1 {
    width: 20vw;
    height: 50vh;
    background: linear-gradient(145deg, #090909, #070707);
    box-shadow:  10px 10px 20px #050505,
                 -10px -10px 20px #0b0b0b;
    margin: 2vw;
    border-radius: 50px;
}

.ranks, .roadmap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #080808;
}

.tokendistribution {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: black;
}

.ranks h1, .tokendistribution h1, .roadmap h1 {
    font-size: 60px;
}

.vertical-line {
    border-left: 10px solid black;
    height: 100%;
    position:absolute;
    left: 50%;
}

.divide-ranks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divide-ranks h1 {
    text-align: center;
    background: #2c2c2c;
}

.pugs-ranks-div, .guns-ranks-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

.pugs-ranks img, .guns-ranks img {
    width: 40%;
    bottom: 15px;
}

.pugs-desc, .guns-desc {
    border: 2px solid white;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 500px;
}


.pugs-ranks, .guns-ranks {
    width: 50%;
    height: 100%;
    
}

.pugs-button, .guns-button {
    width: 25%;
    height: 20vh;
    background: #241d1d;
    box-shadow:  10px 10px 20px #050505,
                 -10px -10px 20px #0b0b0b;
    margin: 2vw;
    border-radius: 20px;
    padding-top: 70px;
}

.pugs-button-flex, .guns-button-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}






















