@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white; 
    margin: 0;
}

.topnav {
    display: flex;
    justify-content: space-evenly;
    padding: 2vh 0;
}

.title {
    display: flex;
    flex-direction: row;
    margin-right: 15vw;
}

h1, h2 {
    align-self: center;
    margin: 0;
}

.lhvr {
    text-decoration: none;
    color: white;
    padding: 1vw;
    font-size: 20px;
    text-transform: uppercase;
    transition: all ease-in-out 100ms;
}

.lhvr:hover {
    color: rgb(230, 93, 93);
    transition: all ease-in-out 100ms;
}

.presale {
    color: white;
    text-decoration: none;
    background-color: rgb(161, 15, 15);
    opacity: 1;
    padding: 1vw 2vw;
    margin-left: 1vw;
    border: 2px solid white;
    border-radius: 50px; 
    transition: all ease-in-out 100ms;
    margin-left: 15vw;
}

.presale:hover {    
    color: white;
    border: 2px solid rgb(230, 93, 93);
    background-color: rgb(230, 93, 93);
    transition: all ease-in-out 100ms;
}

.bg {
    background: url('https://media.discordapp.net/attachments/912012302830694410/914647542036312084/Ilustracion_sin_titulo.png?width=701&height=701');
}

.main {
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.mainimg img {
    border-radius: 20px;
    margin-left: 5vw;
    filter: drop-shadow(0 0 0.75rem crimson);
    transition: all ease-in-out 100ms;
}   

.mainimg img:hover {
    filter: drop-shadow(0 0 1.5rem crimson);
    transition: all ease-in-out 100ms;
}

.links {
    display: flex;
    align-items: start;
}

.titletxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 40px;
}

.desc {
    font-size: 20px;
}

.presale2 {
    color: white;
    text-decoration: none;
    padding: 0.5vw 1vw;
    margin-top: 1vh;
    margin-left: 1vw;
    border: 2px solid white;
    transition: all ease-in-out 100ms;
    font-size: 15px;
}

.presale2:hover {    
    color: white;
    border: 2px solid rgb(230, 93, 93);
    background-color: rgb(230, 93, 93);
    transition: all ease-in-out 100ms;
}

.backstory {
    display: flex;
    flex-direction: row;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 100%);
    justify-content: space-between;
}

.bstext {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}

.bstext h1 {
    padding: 1vh 10vw 1vh 1vw; 
    font-size: 60px;
    align-self: unset;
    text-align: right;
}

.bstext h2 {
    padding: 1vh 10vw 1vh 1vw;
    text-align: right;
    font-size: 26px;
}

.bsimg {
    margin: 5vw 10vw;
    width: 30vw;
    height: 30vw;
    background-image: url('https://media.discordapp.net/attachments/912012302830694410/914894175160401950/The_Pug_Mafi.png?width=701&height=701');
    background-size: cover;
    align-self: center;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem crimson);
    transition: all ease-in-out 100ms;
}

.bsimg:hover {
    filter: drop-shadow(0 0 1.5rem crimson);
    transition: all ease-in-out 100ms;
}

.playtoearn {
    display: flex;
    flex-direction: column;
    background-image: url('https://media.discordapp.net/attachments/690346295516463134/914620096557756506/download_2.png?width=1440&height=621');    
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;    
    padding-bottom: 10vh;
}

.playtoearn h1 {
    margin-top: 10vh;
    font-size: 60px;
}

.phases {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1vw;
}

.neu1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    height: 20vw;
    margin: 2vw;
    border-radius: 20px;
    text-align: center;
    -webkit-text-stroke: #080808 0.5px;
    filter: brightness(50%), drop-shadow(0 0 0.75rem crimson);
    transition: all ease-in-out 100ms;
}

.neu1:hover {
    filter: drop-shadow(0 0 1rem crimson);
    transition: all ease-in-out 100ms;
}

.neu1 h2 {
    font-size: 40px;
}

.neu1 p {
    font-size: 20px;
}

.ranks, .roadmap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #080808;
}

.tokendistribution {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: black;
}

.ranks h1, .tokendistribution h1, .roadmap h1 {
    font-size: 60px;
}

.vertical-line {
    border-left: 10px solid black;
    height: 100%;
    position:absolute;
    left: 50%;
}

.divide-ranks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divide-ranks h1 {
    text-align: center;
    background: #2c2c2c;
}

.pugs-ranks-div, .guns-ranks-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 80px;
}

.pugs-ranks-div {
    margin-right: 20vh;
}

.guns-ranks-div {
    margin-right: 20vh;
}

.pugs-ranks img {
    width: 35%;
    bottom: 15px;
}

.guns-ranks img {
    width: 50%;
    bottom: 15px;
}

.pugs-desc, .guns-desc {
    border: 2px solid white;
    padding-left: 25px;
    padding-right: 25px;
    width: 35vh;
}

.guns-button-flex, .pugs-button-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10vh;
    margin-right: 15vh;
    
}

.guns-button-flex img, .pugs-button-flex button {
    width: 7vw;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all ease-in-out 100ms;

}

.pugs-button-flex button {
    background-color: transparent;
    background-repeat: no-repeat;
    height: 15vh;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}

.guns-button-flex img:hover, .pugs-button-flex button:hover {
    filter: brightness(100%);
    transition: all ease-in-out 100ms;
    cursor: pointer;
}

.tokensplit {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tokensplit img {
    width: 70%;
}
